body{
	background-image: "/images/bg.jpeg";
}
h1{
	font-style: bold;
}

.card-title{
	text-align: center;
}

.navbar{
	background-color: #f58220;
}

.navbar-brand{
   font-family: 'Satisfy', cursive;
   color: white;
   font-size: 3em;
   margin: 1em;	
}

#navbarCollapse > ul{
	font-size: 1.5em;
}

#navbarCollapse > ul > li{
	margin: 1em;
	padding: 30dp;
}

#navbarCollapse > ul > li :hover{
	background-color: #006935;
}

