
 <%- include ("adminheader") %>

		
   
		 <a href="/rating" class="btn btn-primary btn-sm" role="button">Ratings </a>
		<a href="/feedbackstat" class="btn btn-primary btn-sm" role="button">Feedback Statistics </a>
		


 <% include ("partials/footer") %>
