
 <%- include ("adminheader") %>

		
   <div class="container h-100"> 
    <div class="row mt-5 justify-content-center align-items-center">
    <div class="col-10 col-md-8 col-lg-6">
		 <a href="/rating" class="btn btn-primary btn-sm" role="button">Ratings </a>


		<a href="/feedbackstat" class="btn btn-primary btn-sm" role="button">Feedback Statistics </a>
		
		</div>
		</div>
		</div>

 <% include ("partials/footer") %>
