<%- include ("partials/header.ejs") %>

<div class="container h-100"> 
    <div class="row mt-5 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <!-- Form -->
            <form class="form-example" action="" method="post">
                <h1 style="text-align: center;" class="mt-5">Login</h1>
                <!-- Input fields -->
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control username" id="username" placeholder="Username..." name="username">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control password" id="password" placeholder="Password..." name="password">
                </div>
                <button  type="submit" class=" justify-content-center btn btn-primary btn-block">Login</button>
                <div>
                	<div style="margin-top: 10%;">
        <a href="/">Go Back</a>
        <div style="display: inline;text-align: right;padding-left: 50%;"><a href="/forgot">Forgot Password</a></div>
        </div>
</div>
    </form>
                <!-- End input fields -->
            </form>
            <!-- Form end -->
        </div>
    </div>
</div> 

<%- include ("partials/footer.ejs") %>